.container {
	margin-top: 15px;
	text-align: center;
}

h4 {
	text-align: left;
	margin-left: 20px;
	margin-bottom: 0px;
	font-weight: bolder;
}

hr {
	margin-top: 7px;
	margin-bottom: 7px;
	border-color: #ccc;
}

select {
	max-width: 150px;
	display: inline-block !important; 
	width: auto !important;
}

.top-btn {
	display: inline-block;
	margin-top: -2px;
	width: auto;
}

form[name=timeForm] {
	margin: auto;
}

form[name=timeForm] input {
	display: inline-block;
	width: auto;
}

#authorLink {
	margin-top: 8px;
	margin-right: 10px;
	font-size: 12;
}

#oAuthLink {
	font-size: 12;
}

#timerNameForm {
	margin: 15px 10px 12px 10px;
}

.jumbotron {
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

#timerName {
	font-weight: 400;
}

.control-label {
	margin-top: 5px;
	text-align: right;
	padding-right: 0px;
}

.glyphicon-ok-circle {
	font-size: 24px;
	line-height: 24px;
	vertical-align: middle;
	margin-right: 8px;
	color: Green;
}

.glyphicon-ban-circle {
	font-size: 24px;
	line-height: 24px;
	vertical-align: middle;
	margin-right: 8px;
	color: Red;
}