<!DOCTYPE html>
<html ng-app="timerApp" ng-controller="timerCtrl">
	<head>
		<title>Twitch Timer</title>

		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular-electron/angular-electron.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-colorpicker-module.js"></script>
		<script type="text/javascript" src="js/timerApp.js"></script>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="styleSheet" type="text/css" ng-href="{{styles.fontSrc}}">
		<link rel="styleSheet" type="text/css" href="css/colorpicker.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div ng-show="editingSettings" ng-include="'settings.html'"></div>

		<div ng-hide="editingSettings || updating" class="container">

			<div class="pull-left form">
				<select class="form-control" ng-model="timer" ng-options="t as t.name for t in timers track by t.id" ng-change="changeTimer();">
					<option value='' disabled selected>Select a timer...</option>
				</select>
				<button type="button" class="btn btn-success btn-sm form-control top-btn" ng-click="newTimer()">
					<span class="glyphicon glyphicon-plus">&#8203;</span>
				</button>
			</div>

			<div class="pull-right">
				<span class="glyphicon glyphicon-ok-circle" ng-show="client.connected">&#8203;</span>
				<span class="glyphicon glyphicon-ban-circle" ng-hide="client.connected">&#8203;</span>
				<button type="button" class="btn tn-default" ng-click="editSettings()">
					<span class="glyphicon glyphicon-cog">&#8203;</span>
				</button>
			</div>

			<div class="clearfix"></div>

			<h3 ng-hide="editingTimer">{{timer.name ? timer.name : '&nbsp;'}}</h3>
			<div id="timerNameForm" class="form">
				<input type="text" class="form-control" ng-model="timer.name" placeholder="Timer Name..." ng-show="editingTimer">
			</div>

			<div id="editButtons">
				<button type="button" class="btn btn-sm btn-primary" ng-click="editTimer();" ng-hide="editingTimer" ng-disabled="!timer">
					<span class="glyphicon glyphicon-pencil">&#8203;</span>
				</button>
				<button type="button" class="btn btn-sm btn-danger" ng-click="deleteTimer()" ng-hide="editingTimer" ng-disabled="!timer">
					<span class="glyphicon glyphicon-trash">&#8203;</span>
				</button>
				<button type="button" class="btn btn-sm btn-success" ng-click="saveTimer();" ng-show="editingTimer" ng-disabled="timeForm.$invalid || !timer.name">
					<span class="glyphicon glyphicon-ok">&#8203;</span>
				</button>
				<button type="button" class="btn btn-sm btn-warning" ng-click="cancelTimer();" ng-show="editingTimer">
					<span class="glyphicon glyphicon-remove">&#8203;</span>
				</button>
			</div>

			<div class="jumbotron"  ng-style="{'background-color': styles.backgroundColor}">
				<span id="timerName" ng-hide="editingTimer" ng-style="styles">{{timer.time | timeFilter:this}}</span>
				<form name="timeForm" role="form" ng-show="editingTimer" class="form">
					<input type="text" class="form-control" size="4" maxlength="4" ng-model="hours" placeholder="HH" pattern="[0-9]{0,4}">
					:
					<input type="text" class="form-control" size="2" maxlength="2" ng-model="minutes" placeholder="MM" pattern="[0-9]{0,2}">
					:
					<input type="text" class="form-control" size="2" maxlength="2" ng-model="seconds" placeholder="SS" pattern="[0-9]{0,2}">
				</form>
			</div>

			<div style="margin: auto;">
				<button type="button" class="btn btn-lg btn-success pull-left" ng-click="startTimer()" ng-disabled="!timer">Start</button>
				<button type="button" class="btn btn-lg btn-primary pull-right" ng-click="resetTimer()" ng-disabled="!timer">Reset</button>
				<button type="button" class="btn btn-lg btn-danger" ng-click="stopTimer()" ng-disabled="!timer">Stop</button>
				<div class="clearfix"></div>
			</div>
		</div>
		<span id="authorLink" class="pull-right">Made by: <a external-link href="https://github.com/xingped" target="_blank">xingped</a></span>
	</body>
</html>
